<div class="jumbotron jumbotron-fluid mt-3 p-4">
    <div class="container">
      <h1 class="display-4">{{post.title | uppercase}}</h1>
      <p class="lead">{{post.description}}</p>
    </div>
</div>
<div class="mb-5">
    <h3>Comments</h3>
    <hr>
    <ng-container *ngFor="let comment of post.comments">
        <app-comment [comment]="comment"></app-comment>
    </ng-container>
    <form>
        <div class="form-group mt-5">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Reply</button>
    </form>
</div>